/*Propiedades del navbar*/
.navbar{
    background-color:#1382ED; /*color de fondo*/
    position: static;
}

/*Propiedades del logo*/
.logo{
    width: 50px; 
    height: 50px;
    margin-left: auto;
}

.navbar-nav{
    margin-right: auto;
}