<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo.png" alt="Logo de MiCole" class="logo">
        Micole
      </a>
      <span></span>
    </div>
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link "  href="#Viaja" >Viaja con nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Quienes" >¿Quienés somos?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Como" >Como surge MiCole</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Equipo" >Equipo desarrollador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Futuro" >Nuestros planes a futuro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Descargar" >Link</a>
      </li>
    </ul>
  </div>
</nav>

