<nav class="navbar navbar-expand-lg " >
  <div class="container-fluid">
    <!--logo-->
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" alt="Logo de MiCole" class="logo">
      Micole
    </a>
    <!--Enlaces del navbar-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link "  href="#" >Viaja con nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >¿Quienés somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Como surge MiCole</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Equipo desarrollador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Nuestros planes a futuro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Descargar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


