/*Propiedades del navbar*/
.navbar{
    background-color:#1382ED; /*color de fondo*/
    position: static;
}

/*Propiedades del logo*/
.logo{
    width: 50px; /*ancho*/
    height: 50px; /*largo*/
    margin-left: auto; /*para que el logo este alineado */
}

/*propiedades de los links que esta en el navbar*/
.navbar-nav{
    margin-right: auto; /*para que el logo este alineado */
}
