
<div class="body">
    <div>
        <!-- <div class="linea-diagonal izquierda"></div> -->
    </div>
    <div>
        <!-- <div class="linea-diagonal derecha"></div>  -->
    </div>
    <div>
        <!-- <div class="linea-diagonal izquierda2"></div> -->
    </div>
</div>
<div class="container text-center">
    <div class="row justify-content-start">
      <div class="col-4">
      <b> Viaja con nosotros </b>
       
      </div>
      
    </div>

    <div class="row justify-content-end">
      <div class="col-4">
        <b>¿Quienés somos?</b>
        <p>Somos un equipo de estudiantes en el último año de secundaria que desarrollan la aplicación MiCole.</p>
      </div>
    </div> 

    <div class="row justify-content-around">
    </div>
    <div class="row justify-content-between">
      <div class="col-4">
        <b>Como surge MiCole</b>
        <p>MiCole, se genera al observar y vivir el desconocimiento de los horarios de los colectivos de nuestra ciudad. También el no saber los recorridos, donde esperarlos o ser notificados de retrasos. Esto genera problemas, como el hecho de llegar tarde a lugares como  el colegio, trabajo o a alguna reunión. Viendo todos estos problemas se nos ocurrió desarrollar una aplicación para poder solucionarlos y ayudar a la población. </p>
      </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-4">
            <b>Equipo desarrollador </b>
            <p>Somos un grupo de cuatro desarrollador</p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-4">
            <b>Nuestros planes a futuro</b>
            <p>Nuestros planes a futuro es seguir expandiendo la aplicación no solo para la ciudad de Cipolletti, sino también en ciudades con una alta población o turísticas.  Principalmente en ciudades como Bariloche o Las Grutas que tienen un gran movimiento de turistas y el colectivo suele ser el principal transporte. Por otro lado,  como segundo plan a futuro sería conseguir que los colectivos tengan cada uno un gps para que la aproximación pueda ser más exacta. 
            </p>
        </div>
      
    </div>
    <div class="row justify-content-end">
        <div class="col-4">
            <b>Descargar</b>
            <p>Aqui les dejamos el link para descargar</p>
        </div>
    </div>
  </div>
