body {
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento de la línea diagonal */
}

/* .linea-diagonal {
    width: 1300px; 
    height: 2px; 
    background-color: black;
    position: absolute;
    top: 38%; 
}
  
.izquierda {
    transform: translateY(-15%) rotate(-15deg); 
     right: 15; 
    left: 0 ;

}
  

.derecha {
    transform: translateY(-15%) rotate(15deg); 
    right: 0; 
    margin-top: 320px;
} 


 */
