body {
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento de la línea diagonal */
}

.linea-diagonal {
    width: 1300px; 
    height: 2px; /* Grosor de la línea */
    background-color: black; /* Color de la línea, puedes cambiarlo según tus preferencias */
    position: absolute;
    top: 38%; /* Posiciona la línea en el centro verticalmente */
}
  
.izquierda {
    transform: translateY(-15%) rotate(-15deg); /* Rota la línea diagonalmente hacia la izquierda */
     right: 15; 
    left: 0 ;

}
  

.derecha {
    transform: translateY(-15%) rotate(15deg); 
    right: 0; 
    margin-top: 320px;
} 



